Django>=4.2,<5.0
djangorestframework
django-cors-headers
python-dotenv
uvicorn
psycopg2-binary
qdrant-client
sentence-transformers
PyPDF2
langchain
langchain-community
langchain-huggingface
langchain-openai
transformers
torch
tqdm
requests
PyJWT